@page "/"
@attribute [Authorize]
@inject IAuthService AuthService

<PageTitle>岗位技能管理系统</PageTitle>

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <p class="fs-4">欢迎使用本系统</p>
    </header>
    <div class="col-md-8">
        <h2 class="text-body-emphasis">已报名的培训项目</h2>
        <p>下面是您已报名的培训项目，请及时关注培训日期、类型等信息。</p>
        <ul class="list-unstyled ps-0">
            <li>
                <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font" rel="noopener" target="_blank">
                    <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                    Bootstrap npm starter
                </a>
            </li>
        </ul>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2 class="text-body-emphasis">报名参加培训</h2>
            <p>以下培训可以报名参加</p>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font" rel="noopener" target="_blank">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                        Bootstrap npm starter
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/parcel" rel="noopener" target="_blank">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                        Bootstrap Parcel starter
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/vite" rel="noopener" target="_blank">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                        Bootstrap Vite starter
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/webpack" rel="noopener" target="_blank">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                        Bootstrap Webpack starter
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2 class="text-body-emphasis">即将截至报名的培训</h2>
            <p>以下培训即将截至报名</p>
            <ul class="list-unstyled ps-0">
                <li>
                    <a class="icon-link mb-1" href="/docs/5.3/getting-started/introduction/">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                        Bootstrap quick start guide
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="/docs/5.3/getting-started/webpack/">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                        Bootstrap Webpack guide
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="/docs/5.3/getting-started/parcel/">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                        Bootstrap Parcel guide
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="/docs/5.3/getting-started/vite/">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                        Bootstrap Vite guide
                    </a>
                </li>
                <li>
                    <a class="icon-link mb-1" href="/docs/5.3/getting-started/contribute/">
                        <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"></use></svg>
                        Contributing to Bootstrap
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
@code {
    
}
