@page "/"
@attribute [Authorize]
@inject IAuthService AuthService
@inject ITrainingService TrainingService

<PageTitle>岗位技能管理系统</PageTitle>

<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <p class="fs-4">欢迎使用本系统</p>
    </header>
    <div class="col-md-8">
        <h2 class="text-body-emphasis">已报名的培训项目</h2>
        <p>下面是您已报名的培训项目，请及时关注培训日期、类型等信息。</p>
        <ul class="list-unstyled ps-0">
            @if (TrainingService.TrainingItems == null)
            {
                <li>
                    加载中……
                </li>
            }
            else if (TrainingService.TrainingItems.Count == 0)
            {
                <li>
                    暂未报名培训
                </li>
            }
            else
            {
                @foreach(var trainingItem in TrainingService.TrainingItems)
                {
                    <li>
                        <a class="link-offset-2" href="/training/@trainingItem.Training.Id">@trainingItem.Training.Name</a>
                    </li>
                }
                
            }
        </ul>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2 class="text-body-emphasis">报名参加培训</h2>
            <p>以下培训可以报名参加</p>
            <ul class="list-unstyled ps-0">
                @if (TrainingService.Trainings == null)
                {
                    <li>
                        加载中……
                    </li>
                }
                else if (TrainingService.Trainings.Count == 0)
                {
                    <li>
                        暂无培训
                    </li>
                }
                else
                {
                    @foreach (var training in TrainingService.Trainings)
                    {
                        <li>
                            <a class="link-offset-2" href="/training/@training.Id">@training.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>

        <div class="col-md-6">
            <h2 class="text-body-emphasis">即将截至报名的培训</h2>
            <p>以下培训即将截至报名</p>
            <ul class="list-unstyled ps-0">
                @if (TrainingService.Trainings == null)
                {
                    <li>
                        加载中……
                    </li>
                }
                else if (TrainingService.Trainings.Count == 0)
                {
                    <li>
                        暂无培训
                    </li>
                }
                else
                {
                    @foreach (var training in TrainingService.Trainings)
                    {
                        <li>
                            <a class="link-offset-2" href="/training/@training.Id">@training.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
@code {
    protected override async Task OnParametersSetAsync()
    {
        await TrainingService.GetTrainingItems();
        await TrainingService.GetTrainings();
    }
}
