.login-outForm {
    width: 75%
}

@media(min-width: 1020px) {
    .login-outForm {
        width: 60%
    }
}

@media(min-width: 1220px) {
    .login-outForm {
        width: 50%
    }
}

@media(min-width: 1400px) {
    .login-outForm {
        width: 40%
    }
}
