@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <BSNavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <UserButton></UserButton>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer class="pt-3 my-4 text-body-secondary position-absolute bottom-0 start-50">
            <p class="font-monospace">Created by duyou · © 2023</p>
        </footer>
    </main>
</div>
