<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">技能管理系统</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-2" href="" Match="NavLinkMatch.All">
                首页
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-2" href="profile">
                个人信息
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-2" href="job">
                我的培训
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-2" href="training">
                培训报名
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
